.background {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(99, 26, 255, 0.2), rgba(0, 0, 0, 0.2), rgba(4, 211, 97, 0.2)), url("/images/background-moon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url("/images/background-moon.jpg"), -moz-linear-gradient(to bottom right, #631AFF, #000 , #04D361);

  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    display: flex;
    justify-content: space-between;
  
    .entryCard {
      background: -webkit-linear-gradient(left, #8257E6, #04D361); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 40%;
    }
  
    .code {
      font-size: 0.75rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
      opacity: 0.3;
      text-align: right;
      letter-spacing: 0.5rem;
      font-weight: 100;
    }
  }
  
  .content {
    display: flex;
    align-items: center;
  
    .avatarCircle {
      height: 72px;
      padding-right: 0.5rem;
    }
  
    .subtitle {
      display: flex;
      align-items: center;
  
      a {
        text-decoration: none;
      }
  
      h2 {
        padding-left: 0.5rem;
      }

    }
    
    .icon {
        font-size: 1.5rem;
        color: var(--white-subtitle);
    }

    .subtitle:hover {
      h2 {
        color: var(--white-subtitle-hover);
      }
      .icon {
        color: var(--white-subtitle-hover);
      }
    }
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .contentFooter {
      display: flex;
      align-items: center;
      h3 {
        padding-left: 0.5rem;
      }
    }
  
    .linkedin {
      justify-content: flex-end;
    }
  
    .icon {
      font-size: 2rem;
      color: var(--blue);

      &:hover {
        color: var(--blue-10);
      }
    }
  }
}

